html {
    height: 100%;

    body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.select {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            height: 60px;
            background-color: rgb(241, 241, 241);
        }
    }
}

.register-user-wrapper{
    .exp-panel {
        .mat-expansion-panel-body {
            // max-height: 305px;
            // overflow: auto;
        }
    }
}
