<div class="register-wrapper">
    <div class="register-window" [ngClass]="{
        'register-window-success': success,
        'register-window-fail': fail
    }">

        <h1>
            Edit App Admin
        </h1>

        <p class="error-message">{{message}}</p>

        <form class="register-inputs" *ngIf="!success">

            <mat-form-field class="input">
                <mat-label>Name</mat-label>
                <input type="text" matInput [formControl]="nameFormControl" placeholder="Enter your name..."
                    [(ngModel)]="nameValue" (keydown.esc)="nameValue=''" autocomplete="off">
                <button mat-button *ngIf="nameValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="nameValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="nameFormControl.hasError('minlength') || nameFormControl.hasError('maxlength') ">
                    Name must be from 2 to 20 symbols
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Surname</mat-label>
                <input type="text" matInput [formControl]="surnameFormControl" placeholder="Enter your surname..."
                    [(ngModel)]="surnameValue" (keydown.esc)="surnameValue=''" autocomplete="off">
                <button mat-button *ngIf="surnameValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="surnameValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="surnameFormControl.hasError('required')">
                    Surname is <strong>required</strong>
                </mat-error>
                <mat-error
                    *ngIf="surnameFormControl.hasError('minlength') || surnameFormControl.hasError('maxlength') ">
                    Surname must be from 2 to 20 symbols
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Enter email..."
                    [(ngModel)]="emailValue" (keydown.esc)="emailValue=''" autocomplete="off">
                <button mat-button *ngIf="emailValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="emailValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passFormControl" placeholder="Enter password..."
                    [(ngModel)]="passValue" (keydown.esc)="passValue=''" autocomplete="off">
                <button mat-button *ngIf="passValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="passValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                    Password must be at least 4 symbols
                </mat-error>
                <mat-error *ngIf="passFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Company name</mat-label>
                <input type="text" matInput [formControl]="companyNameFormControl"
                    placeholder="Enter your company name..." [(ngModel)]="companyNameValue"
                    (keydown.esc)="companyNameValue=''" autocomplete="off">
                <button mat-button *ngIf="companyNameValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="companyNameValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="companyNameFormControl.hasError('required')">
                    Company name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="companyNameFormControl.hasError('minlength')">
                    Company name must be at least 2 symbols
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Company Inn</mat-label>
                <input type="number" min=0 matInput [formControl]="companyInnFormControl"
                    placeholder="Enter your company Inn..." [(ngModel)]="companyInnValue"
                    (keydown.esc)="companyInnValue=''" autocomplete="off">
                <button mat-button *ngIf="companyInnValue" matSuffix mat-icon-button aria-label="Clear"
                    (click)="companyInnValue=''">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="companyInnFormControl.hasError('required')">
                    Company Inn is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="companyInnFormControl.hasError('min') || companyInnFormControl.hasError('max')">
                    Company Inn must be 7 characters long! Please, enter a valid company Inn
                </mat-error>
            </mat-form-field>

        </form>

        <h2 *ngIf="success">Registration successful!</h2>

        <button class="btn-register-company-admin" mat-raised-button color="primary"
            [disabled]="nameFormControl.invalid || surnameFormControl.invalid || emailFormControl.invalid || passFormControl.invalid || companyNameFormControl.invalid || companyInnFormControl.invalid || submitted"
            (click)="registerCompanyAdmin()">Edit</button>
        <button routerLink="/login" class="btn-back-to-login" mat-raised-button color="primary">Cancel</button>

    </div>

</div>